# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\石耀华文件\大数据\基于知识图谱的智能问答机器人的设计\Django - 问答对结束\Django - 问答对结束\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
